/* Style the links inside the navigation bar */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  padding-bottom: 0.5em;
}

h2 {
  font-family: Lato;
  font-size: 26px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  padding-bottom: 0.7em;
}

h3 {
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  padding-bottom: 1em;
}

p {
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 0.7em;
}

blockquote {
  font-family: Lato;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}

pre {
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

/* Styling the navigation bar */
.topnav {
  color: #000;
  text-align: left;
  padding: 10px 0px;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.topnav ul {
  display: flex;
  justify-content: right;
}

.topnav ul li {
  list-style-type: none;
  margin: 0 5px;
  padding: 1em;
}

.topnav a {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  color: black;
}

/* Change the color of links on hover */
.topnav a:hover {
  /* background-color: #ddd; */
  color: #0f52ba;
}

/* Add a color to the active/current link */
.topnav a.active {
  /* background-color: #04AA6D; */
  color: #0f52ba;
}

.container {
  width: 86%;
  margin: 0 auto;
}

/* Style the main section*/
main {
  /* display: flex;
  justify-content: space-between; */
  margin-top: 2em;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 auto;
  width: 80%;
  /* text-align: ; */
}

.coolstuff {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 30px auto;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 33%;
  padding: 0 20px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 20px 5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the coolstuff cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  background-color: #fafafa;
}

.card h2 {
  color: #0f52ba;
}

/* Style the friendzone section*/
#friendzone {
  background-color: #F8FAFC;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 30px auto;
  padding: 0 20%;
}

.friendcolumn {
  float: left;
  width: 50%;
  padding: 20px 10px;
  text-align: center;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .friendcolumn {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}

input[type=text] {
  padding: 5px; 
  width: 300px;
  border: 2px solid #ccc; 
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type=email] {
  padding: 5px; 
  width: 300px;
  border: 2px solid #ccc; 
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type=text]:focus {
  border-color:#0f52ba;
}

input[type=submit] {
  padding: 10px 15px; 
  width: 300px;
  background: #0f52ba; 
  color: #fff;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
}